<section class="p-10" >

  <h1 class="text-3xl text-center">Listado de productos</h1>

    <nz-table #nzTable [nzData]="listOfDisplayData" 
                       nzTableLayout="fixed" 
                       nzShowPagination  
                       [nzPageSize]="10"
                        (nzPageIndexChange)="onPageChange($event)">
              
      <thead>
        <tr>
          <th class="w-[70px]">#</th>
          <th nzCustomFilter>
            Nombre Producto
            <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <nz-icon nzType="search" />
            </nz-filter-trigger>
          </th>
          <th>Marca</th>
          <th [nzFilters]="filterName()" [nzFilterFn]="nameFilterFn">Categoría</th>          
          <th class="w-[130px]">Empaque</th>
          <th class="w-[110px]">Unidad Medida</th>
          <th class="w-[90px]">Cantidad Total</th>
          <th class="w-[90px]">Rotacion</th>          
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        @for (data of nzTable.data; track data.id) {
          <tr>
            <td>{{ $index + 1 + (nzTable.nzPageIndex - 1) * nzTable.nzPageSize}}</td>
            <td>{{ data.nombre }}</td> 
            <td>{{ data.marca }}</td>
            <td>{{ data.categoria.nombre }}</td>
            <td>{{ data.modelo }}</td> 
            <td>{{ data.unidad_medida }}</td> 
            <td>{{ data.cantidad_total }}</td> 

            <td>
               <nz-tag [nzColor]="getColorFromNombre(data.nivel_rotacion)">
                  {{ data.nivel_rotacion }}
                </nz-tag>
            </td> 

            <td>{{ data.observaciones }}</td>
          </tr>
        }
      </tbody>
    </nz-table>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Buscar nombre" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Buscar</button>
          <button nz-button nzSize="small" (click)="reset()">Limpiar</button>
        </div>
      </div>
    </nz-dropdown-menu>

</section>
