:host ::ng-deep .ant-form-item-explain-error {
    
    color: rgb(0, 0, 0); 
    width: fit-content;
    position: relative;
    top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    padding: 0 5px;

}